<template>
    <div class="user-container">
        <section class="modal-card-body">
            <div class="error has-text-danger" v-if="errorMessage">{{ errorMessage }}</div>

            <b-field label="Name">
                <b-input
                        type="input"
                        v-model="form.name"
                />
            </b-field>

            <b-field label="Email">
                <b-input
                        type="input"
                        v-model="form.email"
                />
            </b-field>

            <b-field class="file">
                <b-upload v-model="form.image">
                    <a class="button is-primary">
                        <span>Upload avatar</span>
                    </a>
                </b-upload>
                <span class="file-name" v-if="form.image">
                    {{ form.image.name }}
                </span>
                <span class="file-name" v-else-if="user.avatar">
                    {{ user.avatar }}
                </span>
            </b-field>

            <div class="edit-button">
                <b-button
                        type="is-primary"
                        @click="update">
                    Update
                </b-button>

                <b-button
                        type="is-danger"
                        @click="onDelete"
                >
                    Delete
                </b-button>
            </div>

        </section>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "UserEditForm",

        data: () => ({
            form: {
                name: '',
                email: '',
                image: null,
            },
            errorMessage: '',
        }),

        async created() {
            try {
                await this.fetchUserById(this.$route.params.id);

                this.form.name = this.user.name;
                this.form.email = this.user.email;
            } catch (error) {
                console.error(error.message);
            }
        },

        computed: {
            ...mapGetters('user', [
                'getUsersById'
            ]),

            user() {
                return this.getUsersById(this.$route.params.id);
            }
        },


        methods: {
            ...mapActions('user', [
                'updateUserBuId',
                'fetchUserById',
                'deleteUser',
            ]),

            onDelete() {
                this.$buefy.dialog.confirm({
                    title: 'Deleting user',
                    message: 'Are you sure you want to <b>delete</b> this user? This action cannot be undone.',
                    confirmText: 'Delete User',
                    type: 'is-danger',

                    onConfirm: async () => {
                        await this.deleteUser(this.$route.params.id);

                        this.$router.push({ name: 'users-list'})
                    }
                });
            },

            update(e) {
                this.resetErrorMessage();

                e.PreventDefault;

                if(this.formValidation()) {
                    this.updateUser();
                }
            },

            async updateUser() {
                await this.updateUserBuId({
                    id: this.$route.params.id,
                    name: this.form.name,
                    email: this.form.email,
                    image: this.form.image,
                });

                this.$router.push({ name: 'user-detail', params: { id: this.$route.params.id } })
            },

            formValidation() {
                if(this.form.name === "") {
                    this.errorMessage = "Enter name";
                    return false;
                }

                if(!this.emailValidation(this.form.email)) {
                    this.errorMessage = "Enter valid email";
                    return false;
                }

                return true;
            },

            resetErrorMessage() {
                this.errorMessage = '';
            },

            emailValidation(email) {
                let regular = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;

                return regular.test(email);
            },
        },
    }
</script>

<style scoped lang="scss">
    .user-container {
        margin-top: 15px;

        .edit-button .button {
            margin-right: 7px;
        }
    }
</style>
