<template>
    <div class="user-container">
        <section class="modal-card-body">
            <div class="error has-text-danger" v-if="errorMessage">{{ errorMessage }}</div>
            <b-field label="Title">
                <b-input
                        name="title"
                        type="input"
                        v-model="form.title"
                />
            </b-field>

            <b-field label="Author">
                <div class="select">
                    <select v-model="form.user_id">
                        <option v-for="user in users" :value="user.id">{{ user.name }}</option>
                    </select>
                </div>
            </b-field>

            <b-field class="file">
                <b-upload v-model="form.preview_image_url">
                    <a class="button is-primary">
                        <span>Upload preview</span>
                    </a>
                </b-upload>
                <span class="file-name" v-if="form.preview_image_url">
                    {{ form.preview_image_url.name }}
                </span>
            </b-field>

            <section>
                <b-field>
                    <b-upload v-model="form.photos"
                              multiple
                              drag-drop>
                        <section class="section">
                            <div class="content has-text-centered">
                                <p>
                                    <b-icon
                                            icon="upload"
                                            size="is-large">
                                    </b-icon>
                                </p>
                                <p>Drop your files here or click to upload</p>
                            </div>
                        </section>
                    </b-upload>
                </b-field>

                <div class="tags">
                    <span v-for="(file, index) in form.photos"
                  :key="index"
                  class="tag is-primary" >
                        {{file.name}}
                        <button class="delete is-small"
                        type="button"
                        @click="deleteDropFile(index)">
                        </button>
                    </span>
                </div>
            </section>

            <br>
            <b-button type="is-primary" @click="save">
                Save
            </b-button>
        </section>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "AlbumAddForm",

        data: () => ({
            form: {
                title: '',
                user_id: '',
                preview_image_url: null,
                photos: [],
            },
            errorMessage: '',
        }),

        computed: {
            ...mapGetters('user', [
                'getUsers'
            ]),

            users() {
                return this.getUsers;
            }
        },

        methods: {
            ...mapActions('album', [
                'createNewAlbum',
                'addAlbumPhotos',
            ]),

            ...mapActions('user', [
                'getAllUsers',
            ]),

            deleteDropFile(index) {
                this.form.photos.splice(index, 1)
            },

            save(e) {
                this.resetErrorMessage();

                e.PreventDefault;

                if(this.formValidation()) {
                    this.addAlbum();
                }
            },

            async addAlbum() {
                const album = await this.createNewAlbum({
                    title: this.form.title,
                    user_id: this.form.user_id,
                    preview_image_url: this.form.preview_image_url,
                    photos: this.form.photos,
                });

                if (this.form.photos) {
                    for (let photo of this.form.photos) {
                        this.uploadPhoto(album.id, photo);
                    }
                }

                this.$router.push({ name: 'album-detail', params: { id: album.id } })
            },

            async uploadPhoto(albumId, photo) {
                await this.addAlbumPhotos({
                    albumId: albumId,
                    photo: photo,
                });
            },

            formValidation() {
                if(this.form.title === "") {
                    this.errorMessage = "Enter title";
                    return false;
                }

                return true;
            },

            resetErrorMessage() {
                this.errorMessage = '';
            },
        },

        async created() {
            await this.getAllUsers();

            this.form.user_id = this.users[0].id;
        },
    }
</script>

<style scoped lang="scss">
    .user-container {
        margin-top: 15px;
    }
</style>
