<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                Vue Single Page Application
            </a>

            <router-link
                    class="navbar-item"
                    :to="{ name: 'users-list'}">
                Users list
            </router-link>

            <router-link
                    class="navbar-item"
                    :to="{ name: 'albums-list'}">
                Albums list
            </router-link>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>
