<template>
    <div class="album-container">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48 album-avatar" v-if="album.preview_image_url">
                            <img :src="album.preview_image_url" alt="Album preview">
                        </figure>
                        <figure class="image is-48x48 album-avatar" v-else>
                            <img src="https://api.adorable.io/avatars/48/default.png" alt="Default album preview">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Title: {{ album.title }}</p>
                        <p class="subtitle is-6">Author: {{ album.author }}</p>
                    </div>
                </div>

                <div class="content" v-if="album.photos">
                    <figure v-for="photo in album.photos" class="image is-128x128 photo">
                        <img :src="photo.image_url" :alt="photo.title">
                    </figure>
                </div>
            </div>
            <footer class="card-footer">
                <router-link
                        class="card-footer-item"
                        :to="{ name: 'album-edit-delete', params: { id: album.id } }">
                    Edit
                </router-link>
            </footer>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from "vuex";

    export default {
        name: "AlbumContainer",

        async created() {
            try {
                await this.fetchAlbumsById(this.$route.params.id);
            } catch (error) {
                console.error(error.message);
            }
        },

        computed: {
            ...mapGetters('album', [
                'getAlbumById'
            ]),

            album() {
                return this.getAlbumById(this.$route.params.id);
            }
        },

        methods: {
            ...mapActions('album', [
                'fetchAlbumsById',
            ]),
        },
    }
</script>

<style scoped lang="scss">
    .album-container {
        margin-top: 15px;

        .photo {
            display: inline-block;
        }
    }
</style>
