<template>
    <div id="app">
        <Navbar />

        <transition name="fade">
            <router-view />
        </transition>

        <b-loading
                :is-full-page="true"
                :active.sync="isLoading"
                :can-cancel="false"
        />
    </div>
</template>

<script>
    import Navbar from "./components/common/Navbar";
    import { mapGetters } from 'vuex';

    export default {
        name: 'App',

        components: {
            Navbar,
        },

        computed: {
            ...mapGetters([
                'isLoading'
            ]),
        },
    }
</script>

<style lang="scss">
    @import '~buefy/dist/buefy.min.css';
    @import 'styles/common';
</style>
