<template>
    <div class="user-container">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48 user-avatar" v-if="user.avatar">
                            <img :src="user.avatar" alt="User avatar">
                        </figure>
                        <figure class="image is-48x48 user-avatar" v-else>
                            <img src="https://api.adorable.io/avatars/48/default.png" alt="Default user avatar">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{ user.name }}</p>
                        <p class="subtitle is-6">{{ user.email }}</p>
                    </div>
                </div>

                <div class="content" v-if="user.albums">
                    <span v-for="album in user.albums">
                        <router-link
                                class="album-item"
                                :to="{ name: 'album-detail', params: { id: album.id } }">
                            <figure class="image is-128x128 photo">
                                <img :src="album.preview_image_url" :alt="album.title">
                            </figure>
                        </router-link>
                    </span>
                </div>
            </div>
            <footer class="card-footer">
                <router-link
                        class="card-footer-item"
                        :to="{ name: 'user-edit-delete', params: { id: user.id } }">
                    Edit
                </router-link>
            </footer>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from "vuex";

    export default {
        name: "UserContainer",

        async created() {
            try {
                await this.fetchUserById(this.$route.params.id);
            } catch (error) {
                console.error(error.message);
            }
        },

        computed: {
            ...mapGetters('user', [
                'getUsersById'
            ]),

            user() {
                return this.getUsersById(this.$route.params.id);
            }
        },

        methods: {
            ...mapActions('user', [
                'fetchUserById',
            ]),
        },
    }
</script>

<style scoped lang="scss">
    .user-container {
        margin-top: 15px;

        .album-item {
            margin-right: 15px;
            display: inline-block;
        }
    }
</style>
