<template>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Id</th>
                <th>Preview</th>
                <th>Title</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <template >
                <AlbumPreviewCard
                        v-for="album in albums"
                        :key="album.id"
                        :album="album"
                />
            </template>
        </tbody>
    </table>
</template>

<script>
    import AlbumPreviewCard from "./AlbumPreviewCard";
    import { mapActions, mapGetters } from "vuex";

    export default {
        name: "AlbumPreviewList",

        components: {
            AlbumPreviewCard,
        },

        computed: {
            ...mapGetters('album', [
                    'getAlbums'
            ]),

            albums() {
                return this.getAlbums;
            }
        },

        methods: {
            ...mapActions('album', [
                'getAllAlbums'
            ]),
        },

        async created() {
            await this.getAllAlbums();
        },
    }
</script>
