<template>
    <div class="album-container">
        <div class="navigation">
            <div class="level">
                <div class="level-left">
                    <router-link
                            class="button"
                            type="is-link"
                            :to="{ name: 'album-add'}">
                        Add album
                    </router-link>
                </div>

                <AlbumSearch />
            </div>
        </div>

        <div class="table-container">
            <AlbumPreviewList />
        </div>
    </div>
</template>

<script>
    import AlbumPreviewList from "./AlbumPreviewList";
    import AlbumSearch from "./AlbumSearch";

    export default {
        name: "AlbumContainer",

        components: {
            AlbumPreviewList,
            AlbumSearch
        },
    }
</script>

<style scoped lang="scss">
    .navigation {
        padding: 10px 0;
    }
</style>
