<template>
    <div class="level-right" @keyup.ctrl.exact.enter="onSearchClick">
        <div class="select">
            <select v-model="searchByUserId">
                <option value="0">Search by user</option>
                <option v-for="user in users" :value="user.id">{{ user.name }}</option>
            </select>
        </div>

        <b-button
                class="button"
                type="is-link"
                @click="onSearchClick"
        >
            Search
        </b-button>

        <b-button
                class="button"
                type="is-warning"
                @click="onResetSearchClick"
        >
            Reset
        </b-button>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "AlbumSearch",

        data: () => ({
            searchByUserId: '0',
        }),

        computed: {
            ...mapGetters('user', [
                'getUsers'
            ]),

            users() {
                return this.getUsers;
            }
        },

        methods: {
            ...mapActions('album', [
                'searchAlbums',
                'getAllAlbums',
            ]),

            ...mapActions('user', [
                'getAllUsers',
            ]),

            async onSearchClick() {
                if (this.searchByUserId != 0) {
                    await this.searchAlbums(this.searchByUserId);
                } else {
                    await this.getAllAlbums(this.searchByUserId);
                }
            },

            onResetSearchClick() {
                this.searchByUserId = 0;
                this.onSearchClick();
            }
        },

        async created() {
            await this.getAllUsers();
        },
    }
</script>

<style scoped>
    .button {
        margin-right: 7px;
    }
</style>
