<template>
    <tr class="album">
        <td>#{{ album.id }}</td>
        <td>

            <figure class="image is-64x64 album-avatar" v-if="album.preview_image_url">
                <img :src="album.preview_image_url" alt="Album preview">
            </figure>
            <figure class="image is-64x64 album-avatar" v-else>
                <img src="https://api.adorable.io/avatars/64/default.png" alt="Default album preview">
            </figure>

        </td>
        <td>{{ album.title }}</td>
        <td>{{ album.author }}</td>
        <td>
            <div class="edit-button">
                <router-link
                        class="button"
                        :to="{ name: 'album-detail', params: { id: album.id } }">
                    Detail page
                </router-link>
            </div>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "AlbumPreviewCard",

        props: {
            album: {
                type: Object,
                required: true,
            },
        },
    }
</script>

<style scoped lang="scss">
    .album-avatar {
        overflow: hidden;
    }
</style>
