<template>
    <div class="users-container">
        <div class="navigation">
            <div class="level">
                <div class="level-left">
                    <router-link
                            class="button"
                            type="is-link"
                            :to="{ name: 'user-add'}">
                        Add user
                    </router-link>
                </div>

                <div class="level-right" @keyup.ctrl.exact.enter="onSearchClick">
                    <b-input
                            type="text"
                            v-model="searchQuery"
                            placeholder="Enter name or email"
                    />
                    <b-button
                            class="button"
                            type="is-link"
                            @click="onSearchClick"
                    >
                        Search
                    </b-button>
                </div>
            </div>
        </div>

        <div class="table-container">
            <UserPreviewList />
        </div>
    </div>
</template>

<script>
    import { mapActions } from "vuex";
    import UserPreviewList from "./UserPreviewList";

    export default {
        name: "UserContainer",

        components: {
            UserPreviewList,
        },

        data: () => ({
            searchQuery: '',
        }),

        methods: {
            ...mapActions('user', [
                'searchUsers'
            ]),

            async onSearchClick() {
                await this.searchUsers(this.searchQuery);
            },
        },
    }
</script>

<style scoped lang="scss">
    .navigation {
        padding: 10px 0;
    }
</style>
