<template>
    <tr class="user">
        <td>#{{ user.id }}</td>
        <td>
            <figure class="image is-64x64 user-avatar" v-if="user.avatar">
                <img :src="user.avatar" alt="User avatar">
            </figure>
            <figure class="image is-64x64 user-avatar" v-else>
                <img src="https://api.adorable.io/avatars/64/default.png" alt="Default user avatar">
            </figure>
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
            <div class="edit-button">
                <router-link
                        class="button"
                        :to="{ name: 'user-detail', params: { id: user.id } }">
                    Detail page
                </router-link>
            </div>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "UserPreviewCard",

        props: {
            user: {
                type: Object,
                required: true,
            },
        },
    }
</script>

<style scoped lang="scss">
    .user-avatar {
        overflow: hidden;
    }
</style>
