<template>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Id</th>
                <th>Avatar</th>
                <th>Name (username)</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <template >
                <UserPreviewCard
                        v-for="user in users"
                        :key="user.id"
                        :user="user"
                />
            </template>
        </tbody>
    </table>
</template>

<script>
    import UserPreviewCard from "./UserPreviewCard";
    import { mapActions, mapGetters } from "vuex";

    export default {
        name: "UserPreviewList",

        components: {
            UserPreviewCard,
        },

        computed: {
            ...mapGetters('user', [
                    'getUsers'
            ]),

            users() {
                return this.getUsers;
            }
        },

        methods: {
            ...mapActions('user', [
                'getAllUsers'
            ]),
        },

        async created() {
            await this.getAllUsers();
        },
    }
</script>
