<template>
    <div class="container desktop">
        <AlbumAddForm />
    </div>
</template>

<script>
    import AlbumAddForm from "../components/view/albums/add/AlbumAddForm";

    export default {
        name: 'AlbumAdd',

        components: {
            AlbumAddForm,
        },
    };
</script>
