<template>
    <div class="container desktop">
        <AlbumEditForm />
    </div>
</template>

<script>
    import AlbumEditForm from "../components/view/albums/edit/AlbumEditForm";

    export default {
        name: 'AlbumEditDelete',

        components: {
            AlbumEditForm,
        },
    };
</script>
