<template>
    <div class="container desktop">
        <AlbumContainer />
    </div>
</template>

<script>
    import AlbumContainer from "../components/view/albums/detail/AlbumContainer";

    export default {
        name: 'Album',

        components: {
            AlbumContainer,
        },
    };
</script>
