<template>
    <div class="container desktop">
        <UserAddForm />
    </div>
</template>

<script>
    import UserAddForm from "../components/view/users/add/UserAddForm";

    export default {
        name: 'UserAdd',

        components: {
            UserAddForm,
        },
    };
</script>
