<template>
    <div class="container desktop">
        <UserEditForm />
    </div>
</template>

<script>
    import UserEditForm from "../components/view/users/edit/UserEditForm";

    export default {
        name: 'UserEditDelete',

        components: {
            UserEditForm,
        },
    };
</script>
