<template>
    <div class="container desktop">
        <UserContainer />
    </div>
</template>

<script>
    import UserContainer from "../components/view/users/UserContainer";

    export default {
        name: 'UsersFeed',

        components: {
            UserContainer,
        },
    };
</script>
