<template>
    <section class="section">
        <div class="container">
            <h1 class="title">My VUE SPA aplication with Rout and Vuex</h1>
            <h2 class="subtitle">
                Let's go =)
            </h2>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'Welcome',
    };
</script>
