<template>
    <div class="album-container">
        <section class="modal-card-body">
            <div class="error has-text-danger" v-if="errorMessage">{{ errorMessage }}</div>

            <b-field label="Title">
                <b-input
                        type="input"
                        v-model="form.title"
                />
            </b-field>

            <b-field label="Author">
                <div class="select">
                    <select v-model="form.user_id">
                        <option v-for="user in users" :value="user.id">{{ user.name }}</option>
                    </select>
                </div>
            </b-field>

            <b-field class="file">
                <b-upload v-model="form.preview_image_url">
                    <a class="button is-primary">
                        <span>Upload preview</span>
                    </a>
                </b-upload>
                <span class="file-name" v-if="form.preview_image_url">
                    {{ form.preview_image_url.name }}
                </span>
                <span class="file-name" v-else-if="album.preview_image_url">
                    {{ album.preview_image_url }}
                </span>
            </b-field>

            <div class="content" v-if="album.photos">
                <figure v-for="(photo, index) in album.photos" class="image is-128x128 photo">
                    <img :src="photo.image_url" :alt="photo.title">

                    <b-button
                            size="is-small"
                            type="is-danger"
                            @click="onDeletePhoto(photo.id, index)"
                    >
                        Delete image
                    </b-button>
                </figure>
            </div>

            <section>
                <b-field>
                    <b-upload v-model="form.photos"
                              multiple
                              drag-drop>
                        <section class="section">
                            <div class="content has-text-centered">
                                <p>
                                    <b-icon
                                            icon="upload"
                                            size="is-large">
                                    </b-icon>
                                </p>
                                <p>Drop your files here or click to upload</p>
                            </div>
                        </section>
                    </b-upload>
                </b-field>

                <div class="tags">
                    <span v-for="(file, index) in form.photos"
                          :key="index"
                          class="tag is-primary" >
                        {{file.name}}
                        <button class="delete is-small"
                                type="button"
                                @click="deleteDropFile(index)">
                        </button>
                    </span>
                </div>
            </section>

            <br>
            <div class="edit-button">
                <b-button
                        type="is-primary"
                        @click="update">
                    Update
                </b-button>

                <b-button
                        type="is-danger"
                        @click="onDelete"
                >
                    Delete
                </b-button>
            </div>

        </section>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "AlbumEditForm",

        data: () => ({
            form: {
                title: '',
                user_id: '',
                preview_image_url: null,
                photos: [],
            },
            errorMessage: '',
        }),

        async created() {
            try {
                await this.fetchAlbumsById(this.$route.params.id);
                await this.getAllUsers();

                this.form.title = this.album.title;
                this.form.user_id = this.album.author_id;
            } catch (error) {
                console.error(error.message);
            }
        },

        computed: {
            ...mapGetters('album', [
                'getAlbumById'
            ]),

            ...mapGetters('user', [
                'getUsers'
            ]),

            album() {
                return this.getAlbumById(this.$route.params.id);
            },

            users() {
                return this.getUsers;
            }
        },

        methods: {
            ...mapActions('album', [
                'updateAlbumBuId',
                'fetchAlbumsById',
                'deleteAlbum',
                'deletePhoto',
                'addAlbumPhotos',
            ]),

            ...mapActions('user', [
                'getAllUsers',
            ]),

            deleteDropFile(index) {
                this.form.photos.splice(index, 1)
            },

            onDelete() {
                this.$buefy.dialog.confirm({
                    title: 'Deleting album',
                    message: 'Are you sure you want to <b>delete</b> this album? This action cannot be undone.',
                    confirmText: 'Delete Album',
                    type: 'is-danger',

                    onConfirm: async () => {
                        await this.deleteAlbum(this.$route.params.id);

                        this.$router.push({ name: 'albums-list'})
                    }
                });
            },

            onDeletePhoto(photoId, index) {
                this.$buefy.dialog.confirm({
                    title: 'Deleting photo',
                    message: 'Are you sure you want to <b>delete</b> this photo? This action cannot be undone.',
                    confirmText: 'Delete Photo',
                    type: 'is-danger',

                    onConfirm: async () => {
                        await this.deletePhoto({
                            albumId: this.$route.params.id,
                            photoId: photoId,
                            photoIndex: index,
                        });
                    }
                });
            },

            update(e) {
                this.resetErrorMessage();

                e.PreventDefault;

                if(this.formValidation()) {
                    this.updateAlbum();
                }
            },

            async updateAlbum() {
                await this.updateAlbumBuId({
                    id: this.$route.params.id,
                    title: this.form.title,
                    user_id: this.form.user_id,
                    preview_image_url: this.form.preview_image_url,
                });

                if (this.form.photos) {
                    for (let photo of this.form.photos) {
                        this.uploadPhoto(this.$route.params.id, photo);
                    }
                }

                this.$router.push({ name: 'album-detail', params: { id: this.$route.params.id } })
            },

            async uploadPhoto(albumId, photo) {
                await this.addAlbumPhotos({
                    albumId: albumId,
                    photo: photo,
                });
            },

            formValidation() {
                if(this.form.title === "") {
                    this.errorMessage = "Enter title";
                    return false;
                }

                return true;
            },

            resetErrorMessage() {
                this.errorMessage = '';
            },
        },
    }
</script>

<style scoped lang="scss">
    .album-container {
        margin-top: 15px;

        .photo {
            display: inline-block;
        }

        .edit-button .button {
            margin-right: 7px;
        }
    }
</style>
