<template>
    <div class="user-container">
        <section class="modal-card-body">
            <div class="error has-text-danger" v-if="errorMessage">{{ errorMessage }}</div>

            <b-field label="Name">
                <b-input
                        name="name"
                        type="input"
                        v-model="form.name"
                />
            </b-field>

            <b-field label="Email">
                <b-input
                        type="input"
                        name="email"
                        v-model="form.email"
                />
            </b-field>

            <b-field class="file">
                <b-upload v-model="form.image">
                    <a class="button is-primary">
                        <span>Upload avatar</span>
                    </a>
                </b-upload>
                <span class="file-name" v-if="form.image">
                    {{ form.image.name }}
                </span>
            </b-field>

            <b-button type="is-primary" @click="save">
                Save
            </b-button>
        </section>
    </div>
</template>

<script>
    import { mapActions } from "vuex";

    export default {
        name: "UserAddForm",

        data: () => ({
            form: {
                name: '',
                email: '',
                image: null,
            },
            errorMessage: '',
        }),

        methods: {
            ...mapActions('user', [
                'createNewUser',
            ]),

            save(e) {
                this.resetErrorMessage();

                e.PreventDefault;

                if(this.formValidation()) {
                    this.addUser();
                }
            },

            async addUser() {
                const user = await this.createNewUser({
                    name: this.form.name,
                    email: this.form.email,
                    image: this.form.image,
                });

                this.$router.push({ name: 'user-detail', params: { id: user.id } })
            },

            formValidation() {
                if(this.form.name === "") {
                    this.errorMessage = "Enter name";
                    return false;
                }

                if(!this.emailValidation(this.form.email)) {
                    this.errorMessage = "Enter valid email";
                    return false;
                }

                return true;
            },

            resetErrorMessage() {
                this.errorMessage = '';
            },

            emailValidation(email) {
                let regular = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;

                return regular.test(email);
            },
        },
    }
</script>

<style scoped lang="scss">
    .user-container {
        margin-top: 15px;
    }
</style>
